.spots-container {
    text-align: center;
    margin: 1.75rem 0rem 1rem 0rem;
    width: 100%;
}

#parkName {
    margin-left: 0.75rem;
}

#activatorText {
    margin-left: 0.75rem;
}

#locationDesc {
    margin-right: 1.75rem;
}

#spotComments {
    width: 400px;
    overflow: scroll;
}

.spotviewer-row-qrt {
    opacity: 0.5;
    filter: grayscale(100%);
}

.spotviewer-row-qrt:hover {
    opacity: 1.0;
}

span.timeBrandNew {
    color:chartreuse;
    font-weight: 600;
}

span.timeNew {
    color:green;
}

span.timeAging {
    color:goldenrod;
}

span.timeOld {
    color:firebrick;
}

span.timeNormal {
    color:inherit;
}