.spots-container {
    text-align: center;
    margin: 0.5rem 0rem 0.5rem 0rem;
    width: 100%;
    height: 58vh;
}

/*
MUI break points. these were in styled div but it kept re-rendering
the below media queries keep the spotviewer from taking up too much
vertical space

xs, extra-small: 0px
sm, small: 600px
md, medium: 900px
lg, large: 1200px
xl, extra-large: 1536px
*/
@media screen and (min-width: 600px) {
    .spots-container {
        height: 40vh;
    }
}

@media screen and (min-width: 900px) {
    .spots-container {
        height: 46vh;
    }
}

@media screen and (min-width: 1200px) {
    .spots-container {
        height: 58vh;
    }
}


#parkName {
    margin-left: 0.75rem;
}

#activatorText {
    margin-left: 0.75rem;
}

#locationDesc {
    margin-right: 1.75rem;
}

#spotComments {
    width: 400px;
    overflow: scroll;
}

.spotviewer-row-qrt {
    opacity: 0.5;
    filter: grayscale(100%);
}

.spotviewer-row-qrt:hover {
    opacity: 1.0;
}

span.timeBrandNew {
    color: chartreuse;
    font-weight: 600;
}

span.timeNew {
    color: green;
}

span.timeAging {
    color: goldenrod;
}

span.timeOld {
    color: firebrick;
}

span.timeNormal {
    color: inherit;
}