.spots-container {
    text-align: center;
    margin: 1.75rem 0rem 1rem 0rem;
    width: 100%;
}

#parkName {
    margin-left: 0.75rem;
}

#activatorText {
    margin-left: 0.75rem;
}

#spotComments {
    width: 400px;
    overflow: scroll;
}