.condx-area {
    display: flex;
    align-items: center;
    height: stretch;
    margin: 5px -2px 5px 0px;
    border-radius: 5px 0px 0px 5px;
    background-color: #0b262e;
    padding: 0px 10px;
    box-shadow: 1px 3px 4px #06161b;
}
