.MuiMobileStepper-root {
    background-color: #0b262e !important;
    height: 20px;
}

.MuiMobileStepper-dot {
    height: 5px !important;
    width: 5px !important;
}

.MuiMobileStepper-dotActive {
    background-color: rgb(184, 231, 251) !important;
}

.alert-area {
    border-radius: 4px;
    overflow: hidden;
    margin-top: 4px;
    margin-bottom: 4px;
    box-shadow: 1px 3px 4px 0px #06161B;
    width: 500px;
}

.alert-box {
    max-width: 600px;
    width: 100%;
    font-size: smaller;
    display: flex;
    padding: 2px;
    background-color: #133f52;
}

.alert-content {
    color: rgb(184, 231, 251);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    letter-spacing: 0.00938em;
    font-weight: 400;
    font-size: 0.80rem;
    display: block;
    padding: 2px;
    margin-right: 10px;
    width: 100%;
}

.alert-title {
    color: #b8e7fb;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 0.89rem;
}

