fieldset {
    border-radius: 8px;
    border: 1px solid #555;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 12px;
    padding: 12px;
}

legend {
    padding: 2px;
    // margin: 0;
    line-height: 1.1rem;
    font-weight: 400;
    font-size: smaller;
    color: #777;
    // margin-bottom: 2px;
}