#drop-zone {
    border: 2px dashed #ccc;
    text-align: center;
    height: 100px;
    line-height: 100px;
    font-size: 24px;
}

.file-list {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;

    &__container {
        width: 100%;
        height: 100%;
        overflow: auto;
        display: flex;
        justify-content: center;
    }
}

.file-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.step-info {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.step-info a:link {
    color: darkgreen;
}

.step-info a:visited {
    color: darkgreen;
}   

.MuiStepLabel-label.Mui-completed {
    color: darkgreen !important;
}