.parkInfo {
    font-size: smaller;
}

#parkStatsContainer {
    width: 100%;
    text-align: center;
    font-size: smaller;
    font-weight: 300;
    font-style: italic;
}

#parkTitleContainer {
    width: 100%;
}

#parkTitle {
    font-size: larger;
    font-family: 'Roboto Condensed', 'Helvetica Neue', sans-serif;
}


#parkTitle:hover {
    cursor: pointer;
}

.sep {
    max-width: 100%;
    height: 0;
    max-height: 0;
    border: 1px solid #333;
}

span.parkQsos {
    color:darkseagreen;
    font-size: larger;
}

span.parkQsosNone{
    color:firebrick;
    font-size: larger;
}

span.label {
    display: inline;
    padding: .2em .6em .3em;
    margin-left: .5em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

span.label-danger {
    background-color: #d9534f;
}

span.label-warning {
    background-color: #bf821f;
}