.activator-info {
    width: 100%;
}

.activator-info img {
    float: left;
    margin-right: 0.75rem;
}

.activatorTitle {
    width: 100%;
    display: flex;
    align-items: center;
}

.activatorTitle span {
    font-size: larger;
    font-family: 'Roboto Condensed', 'Helvetica Neue', sans-serif;
}

hr.titleSeparator {
    max-width: 100%;
    height: 0;
    max-height: 0;
    border: 1px solid #333;
}

.activatorData {
    width: 100%;
    display: flex;
    font-size: smaller;
    font-weight: 300;
    font-style: italic;
}

.activatorBasics {
    flex: 1;
}

.activatorCommentMetaData {
    width: 50%;
    font-size: smaller;
    font-weight: 300;
    font-style: italic;
    flex: 1;
}

.activatorComments {
    width: 100%;
    height: 125px;
    font-size: small;
    font-weight: 400;
    font-style: italic;
    overflow-y:auto;
}

.activatorCmtsHdg {
    width: 100%;
    font-size: small;
    font-weight: 400;
    font-style: italic;
    color: burlywood;
}

hr.separator {
    max-width: 100%;
    height: 0;
    max-height: 0;
    border: 1px solid #333;
}

.activatorSpeed {
    width: 100%;
    font-size: small;
    font-weight: 400;
    font-style: bold; 
    color: lightgreen;
}

// svg {
//     color: red;
// }

path {
    text-indent:0;
    text-align:start;
    line-height:normal;
    text-transform:none;
    block-progression:tb;
    -inkscape-font-specification:Sans
}

.activatorTitle svg {
    color: #555;
}

.svg_icons {
    transform: scale(0.75);
}