# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

# This is copied from the Ubuntu action (that works) and replaced runs-on to be mac
# currently just testing to see if it works.

name: Node.js Build MacOs

on:
  workflow_dispatch:
    inputs:
      tags:
        description: 'DOIT'
        required: false
        type: boolean

jobs:
  build:

    runs-on: macos-15

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '20.x'
        cache: 'npm'
    - name: Install env
      run: npm run init
    - name: Build Output
      run: npm run build
    - name: chmod executables
      run: chmod +x dist/Hunterlog.app dist/Hunterlog.app/Contents/MacOS/Hunterlog
    - uses: actions/upload-artifact@v4
      with:
        name: hunterlog-macos
        path: dist
