# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

# testing [cmw]

name: Node.js Build Ubuntu

on:
  workflow_dispatch:
    inputs:
      tags:
        description: 'DOIT'
        required: false
        type: boolean

jobs:
  build:

    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v3
    - name: Update APT
      run: |
        sudo apt-get update
    - name: Install girepository-2.0
      run: sudo apt-get install -y libgirepository-2.0-dev
    - name: Use Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '20.x'
        cache: 'npm'
    - name: Install env
      run: npm run init
    - name: Build Output
      run: npm run build
    - uses: actions/upload-artifact@v4
      with:
        name: hunterlog-ubuntu
        path: dist/hunterlog
